@import 'https://fonts.googleapis.com/css?family=Roboto';
@import "https://fonts.googleapis.com/earlyaccess/droidarabickufi.css";
html {
    background-image: url(images/bg.png);
    background-size:cover
}

#text {
    color: #fff;
    font-size: 65px;
    font-family: droid arabic kufi, sans-serif;
    font-family:helveticaneue-light, helvetica neue light, helvetica neue, Helvetica, Arial, lucida grande, sans-serif
}

#arabic {
    color: #fff;
    font-size: 45px;
    font-family:droid arabic kufi, sans-serif
}

#storeicon {
    margin-top:100px
}

.socail {
    letter-spacing: 10px;
    font-size: 65px;
    color:#fff
}

.down {
    font-size: 50px;
    width: 750px;
    height: 100px;
    font-family: droid arabic kufi, sans-serif;
    color: #fff;
    border: 2px solid #fff;
    border-radius:10px
}

.down1 {
    font-size: 45px;
    width: 750px;
    height: 100px;
    font-family: droid arabic kufi, sans-serif;
    color: #fff;
    border: 2px solid #fff;
    border-radius:10px
}

#hr1 {
    width: 750px;
    color: #fff;
    margin-top:200px
}

#hr {
    width: 750px;
    color: #fff;
    margin-top:75px
}

#textdes {
    font-size: 45px;
    color: #fff;
    font-family: helveticaneue-light, helvetica neue light, helvetica neue, Helvetica, Arial, lucida grande, sans-serif;
    padding:0 80px
}

#textdes1 {
    font-size: 45px;
    color: #fff;
    font-family: droid arabic kufi, sans-serif;
    padding:0 50px
}

.copy {
    color: #fff;
    margin-top: 600px;
    font-size: 25px;
    width: 400px;
    height: 50px;
    p font-family: 'Droid Arabic Kufi', sans-serif;
    color: #fff;
    border: 2px solid #1da1f2;
    border-radius: 10px;
    margin-bottom: 50px
}
